@model IEnumerable<CategoryModel>
@{
  ViewData["Title"] = "Book Category";
}

<div>
  <h3>Hello to Book Category</h3>
  <p>If this is a nice place then upload your favorite book</p>
  <br>
  <a asp-controller="Category" asp-action="Create" class="text-end mb-3 btn btn-primary">Create new Category</a>
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
      <th>
          Category Name
        </th>
        <th>Display Order</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var obj in Model)
      {
        <tr>
          <td width="50%">@obj.Name</td>
          <td width="30%">@obj.DisplayOrder</td>
        </tr>
      }
    </tbody>
  </table>
</div>
