<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb Tweak</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <h1>Airbnb Tweak</h1>
    <p>
      <a href="users">Users data</a>
      <a href="rooms">Rooms data</a>
      <a href="rooms/653528e1974ffbd163056ace">Rooms data Id Example</a>
    </p>
  </body>
</html>
